<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cat_style.css" type="text/css">
    <title>Real House Cats of Seattle</title>
    <script src="/js/cats.css"></script>
</head>
<body>
<div class="title">
    <h3>Real House Cats of Seattle</h3>
</div>

<form>
    <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/profile">Profile</a></li>
        <li><a href="/photos">Photos</a></li>
        <li><a href="/news">News</a></li>
    </ul>

    {{{body}}}

</form>
</body>
</html>




