<style>
    h1 {text-align: center;
    }
    form {text-align: center;}
</style>

<h1>We'd love to get connected!</h1>

<form>

    <span> Email: </span>
    <label for="email"></label>
    <input type="text" name="email" id="email">
    <input type="submit" id="emailSubmit">

</form>


<script src="/js/cat_email.js"></script>