<script src="/js/cat_email.js"></script>

<style>
    h1 {text-align: center;
    }
    form {text-align: center;}
    .link {text-align: center;
        padding-top: 25px;
    }
</style>

<h1>We'd love to get connected!</h1>

<form>
    <span> Email: </span>
    <label for="email"></label>
    <input type="text" name="email" id="email">
    <input type="submit" id="emailSubmit">
</form>

<div class="link">
    Created by <a href="https://www.linkedin.com/in/davejhuston/"> Dave Huston</a>
</div>


