<div id="scroll" style="overflow: scroll; width: 800px; height: 200px;">
    <ul>
        <img src="pic_trulli.jpg" alt="Pete">
        <li>Name: Pete</li>
        <li>Age: 3</li>
        <li>Breed: Himalayan</li>
    </ul>
    <ul>
        <img src="pic_trulli.jpg" alt="Chowder">
        <li>Name: Chowder</li>
        <li>Age: 5</li>
        <li>Breed: Persian</li>
    </ul>
    <ul>
        <img src="pic_trulli.jpg" alt="Pete">
        <li>Name: Chowder</li>
        <li>Age: 5</li>
        <li>Breed: Persian</li>
    </ul>
</div>