<div class="scroll" style="overflow-y: scroll; overflow-x: hidden; width: 100%; height: 600px;">
    <ul style="list-style-type:none;">
        <img src="/img/pete.jpg" alt="Pete" width="400" height="617">
        <li>Name: Pete</li>
        <li>Age: 3</li>
        <li>Breed: Himalayan</li>
    </ul>
    <ul style="list-style-type:none;">
        <img src="/img/chowder.jpg" alt="Chowder" width="400" height="617">
        <li>Name: Chowder</li>
        <li>Age: 5</li>
        <li>Breed: Persian</li>
    </ul>
    <ul style="list-style-type:none;">
        <img src="/img/mahina.jpg" alt="Mahina" width="400" height="617">
        <li>Name: Mahina</li>
        <li>Age: 6</li>
        <li>Breed: Tuxedo</li>
    </ul>
    <ul style="list-style-type:none;">
        <img src="/img/leo.jpg" alt="Leo" width="400" height="617">
        <li>Name: Leo</li>
        <li>Age: 4</li>
        <li>Breed: Himalayan</li>
    </ul>
    <ul style="list-style-type:none;">
        <img src="/img/sterling.jpg" alt="Sterling" width="400" height="617">
        <li>Name: Sterling</li>
        <li>Age: 4</li>
        <li>Breed: Tuxedo</li>
    </ul>
</div>