<style>
    .dataButton {text-align: center;
        padding-left: 40px;
    }
    ul {text-align: center;}
</style>

<ul style="list-style-type:none;">
    <img src="/img/pete.jpg" alt="Pete" width="400" height="617">
    <li>Name: Pete</li>
    <li>Age: 3</li>
    <li>Breed: Himalayan</li>
</ul>

<div class="dataButton">
    <button type="submit" onclick="window.open('/docs/pete_profile.doc')">Download Info</button>
</div>


